*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #131047;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 25px;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.txt{
    color: #131047;
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 200%;
}

.form{
    color: #131047;
    font-size: medium;
    border: 1px solid black;
    border-radius: 2%;
    height: auto;
    width: 50%;
    margin: auto;
    padding: 10px;
    display: block;
}

button {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid #555555;
    margin: auto;
    width: 90px;
    height: 40px;
    display: block;
    transition-duration: 0.9s;
    margin-bottom: 30px;
}

button:hover {
    background-color: #555555;
    color: white;
}
.listagem{
    color: #131047;
    display: flex;
    align-items: center;
    flex-direction: column;
}
